/*
  RESET
*/
* {
   box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
   margin: 0;
   padding: 0;
   border: 0;
   font-size: 100%;
   font: inherit;
   vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
   display: block;
}

body {
   line-height: 1;
}

ol,
ul {
   list-style: none;
}

blockquote,
q {
   quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
   content: '';
   content: none;
}

table {
   border-collapse: collapse;
   border-spacing: 0;
}

* {
   box-sizing: border-box;
}

body,
html {
   font-family: inherit;
   text-rendering: optimizeLegibility;
   margin: 0;
   font-family: 'SwedenSans', sans-serif;
   font-weight: 400;
   font-size: 14px;
   line-height: 1.8;
   text-rendering: geometricPrecision;
   -webkit-font-smoothing: antialiased;
}
@media screen and (min-width: 430px) {
   body,
   html {
      font-size: 18px;
   }
}

a {
   text-decoration: none;
}

p,
h6 {
   font-size: 1rem;
   font-weight: 400;
}
p.bold,
h6.bold {
   font-weight: 700;
}

h1,
h2,
h3,
h4,
h5 {
   font-weight: 900;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
   margin: 1.414rem auto;
}
p.uppercase,
h1.uppercase,
h2.uppercase,
h3.uppercase,
h4.uppercase,
h5.uppercase,
h6.uppercase {
   text-transform: uppercase;
}

h6 {
   font-size: 1rem;
   line-height: 1.4;
}

h5 {
   font-size: 1rem;
   line-height: 1.4;
}

h4 {
   font-size: 1.414rem;
   line-height: 1.2;
}

h3 {
   font-size: 1.9994rem;
   line-height: 1.2;
}

h2 {
   font-size: 2.02894rem;
   line-height: 1.4;
}
@media only screen and (min-width: 768px) {
   h2 {
      font-size: 2.9948rem;
   }
}

h1 {
   font-size: 3.99758rem;
   line-height: 1.2;
}

blockquote {
   font-size: 1.9994rem;
   line-height: 1.4;
   font-weight: 900;
}

/*
  FONTS
*/

h1,
h2,
h3,
h4,
h5,
h6 {
   font-family: 'Audiowide';
}
p {
   font-family: 'Lato';
}

/* Lato */
/* Light */
@font-face {
   font-family: 'Lato';
   src: url('./assets/fonts/Lato/Lato-Light.ttf');
   font-weight: 300;
}
@font-face {
   font-family: 'Lato';
   src: url('./assets/fonts/Lato/Lato-LightItalic.ttf');
   font-weight: 300;
   font-style: italic;
}
/* Regular */
@font-face {
   font-family: 'Lato';
   src: url('./assets/fonts/Lato/Lato-Regular.ttf');
   font-weight: 400;
}
@font-face {
   font-family: 'Lato';
   src: url('./assets/fonts/Lato/Lato-Italic.ttf');
   font-weight: 400;
   font-style: italic;
}
/* Bold */
@font-face {
   font-family: 'Lato';
   src: url('./assets/fonts/Lato/Lato-Bold.ttf');
   font-weight: 700;
}
@font-face {
   font-family: 'Lato';
   src: url('./assets/fonts/Lato/Lato-BoldItalic.ttf');
   font-weight: 700;
   font-style: italic;
}
/* Audiowide */
@font-face {
   font-family: 'Audiowide';
   src: url('./assets/fonts/Audiowide/Audiowide-Regular.ttf');
}
